<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card-group mb-0">
        <div class="card p-4">
          <div class="card-body">
            <p class="text-muted">Ingresá a tu cuenta</p>
            <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
                <div class="input-group mb-3">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <input type="text"  id="nombreUsuario" name="nombreUsuario" 
                    class="form-control" placeholder="Usuario"  [(ngModel)]="nombreUsuario" required />
                  </div>
              <div class="input-group mb-4">
                <span class="input-group-addon"
                  ><i class="fa fa-lock"></i
                ></span>
                <input type="password" id="password" name="password"
                  class="form-control"
                  placeholder="contraseña"
                  [(ngModel)]="password"
                    required />
              </div>
              <div class="row">
                <div class="col-6">
                  <button type="button" class="btn btn-info px-4" type="submit">Login</button>
                </div>

                <!--<div class="col-6 text-right">
                  <button type="button" class="btn btn-link px-0">
                    ¿Olvidaste tu contraseña?
                  </button>
                </div>-->

              </div>
            </form>
          </div>
        </div>

        <div
          class="card text-white bg-info py-5 d-md-down-none"
          style="width: 44%"
        >
          <div class="card-body text-center">
            <div>
              <h2>¿Aún no te uniste a este sitio?</h2>

              <button type="button" class="btn btn-default active mt-3">
                Regístrate ahora
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>