<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2>Encriptador</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed exercitationem dicta veritatis harum obcaecati. Quo voluptates pr
                aesentium, ipsa, suscipit repudiandae tempora placeat delectus quos esse corrupti aut, ullam ab beatae!</p>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/proyecto.png" class="img-fluid">
        </div>
    </div>
</div>