<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Estudio n1</h1> - 
                <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum corporis suscipit molestias, ex,
                 cum exercitationem sed ipsam necessitatibus enim expedita, id fuga ducimus velit ea? 
                 Error a quaerat obcaecati in.
            </p>
        </ul>

        <ul>
            <li>
                <h1>Estudio n2</h1> - 
                <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum corporis suscipit molestias, ex,
                 cum exercitationem sed ipsam necessitatibus enim expedita, id fuga ducimus velit ea? 
                 Error a quaerat obcaecati in.
            </p>
        </ul>

        <ul>
            <li>
                <h1>Estudio n3</h1> - 
                <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum corporis suscipit molestias, ex,
                 cum exercitationem sed ipsam necessitatibus enim expedita, id fuga ducimus velit ea? 
                 Error a quaerat obcaecati in.
            </p>
        </ul>

    </div>
</div>